---
import MainLayout from '@/layouts/MainLayout.astro';
import { CartCookiesClient } from '@/utils/cart-cookies';
import { Formatter } from '@/utils/Formatter';
import { actions } from 'astro:actions';

const { data: cart, error } = await Astro.callAction(
  actions.loadProductsFromCart,
  {}
);

if (error || !cart) {
  return Astro.redirect('/');
}

const total = cart.reduce(
  (acc, product) => acc + product.price * product.quantity,
  0
);
---

<MainLayout title='Carrito de compras'>
  <section class='grid grid-cols-1 sm:grid-cols-2 gap-40'>
    <div class='order-2 sm:order-1'>
      <h2>Productos</h2>
      <a href='javascript:history.back()' class='hover:underline text-blue-600'
        >Regresar</a
      >

      {
        cart?.map((product) => (
          <div class='flex gap-5 mt-5 '>
            <img src={product.image} alt={product.title} class='w-20 h-20' />

            <div class="flex-1">
              <a href={`/products/?slug=${product.slug}`}>{product.title}</a>
              <p class="mt-2">${product.price}</p>
              <div class='flex justify-between mt-2'>
                <div>
                  Talla: <span class='font-bold'>{product.size}</span>
                </div>
                <div>
                  Cantidad: <span class='font-bold'>{product.quantity}</span>
                </div>
              </div>
              <button
              data-id={product.productId}
              data-size={product.size}
               class='text-blue-500 btn-delete mt-2'>Remover</button>
            </div>
          </div>
          <hr class="mt-4"/>
        ))
      }
    </div>

    <!-- Totales -->

    <div class='bg-black h-[330px] text-white p-6 rounded-lg shadow-lg order-1'>
      <h2 class='text-lg font-semibold mb-4'>Resumen de compra</h2>

      <div class='flex justify-between text-gray-400 mb-2'>
        <span>Envío</span>
        <span>Gratis</span>
      </div>

      <div class='flex justify-between text-gray-400 mb-4'>
        <span>SubTotal </span>
        <span>{Formatter.currency(total)}</span>
      </div>
      <div class='flex justify-between text-gray-400 mb-4'>
        <span>Impuesto </span>
        <span>{Formatter.currency(total * 0.15)}</span>
      </div>

      <div class='flex justify-between text-xl font-bold'>
        <span>Total</span>
        <span>{Formatter.currency(total * 1.15)}</span>
      </div>

      <button
        class='mt-10 w-full bg-blue-700 text-gray-300 py-3 rounded-lg hover:bg-gray-600 transition-all'
      >
        PAGAR
      </button>
    </div>
  </section>
</MainLayout>

<script>
import { CartCookiesClient } from "@/utils/cart-cookies";

    const deleteButtons: NodeListOf<HTMLButtonElement> = document.querySelectorAll('.btn-delete');

    deleteButtons.forEach((button) => {
        button.addEventListener('click', async (e) => {
            const productId = button.dataset.id;
            const size = button.dataset.size;
            
            console.log({
                productId,
                size
            })

            CartCookiesClient.removeItem({
                productId: productId ?? '',
                size: size ?? '',
                quantity:1
            });

        });
    });
</script>